<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% comment %} <div>
        <ul>
            {% for task in tasks %}
            <li>{{task.status}}</li>

            {% endfor %}
        </ul>
       
    </div>
    <div>
        {{task3}}
    </div>
    <div>
        {{first_task}}
    </div> {% endcomment %}

    {% comment %} <div>
    <ul>
        {% for task in tasks %}
            <li>
                <strong>{{ task.title }}</strong> 
                <p> {{ task.project.name }}</p> 
            </li>
        
        {% endfor %}

       
    </ul>
</div> {% endcomment %}

<div>
    {% comment %} {% for emp in tasks %}
        <div style="margin-bottom: 20px;">
            <h2>{{ emp.name }}</h2>
            <ul>
                {% for task in emp.tasks.all %}
                    <li>{{ task.title }} - {{ task.status }}</li>
                {% empty %}
                    <li>No tasks assigned.</li>
                {% endfor %}
            </ul>
        </div>
    {% endfor %} {% endcomment %}
     
     {% comment %} <p>{{task_count}}</p> {% endcomment %}
    <ol>
        {% for project in projects %}
            <li>
                <strong>{{project.name}}</strong>
                <p>{{project.num_task}}</p>
            </li>
        
        {% endfor %}
    </ol>
</div>



</body>
</html>